body{
	color:blue;
	margin:1rem 5rem;
	background:orange;
}

img{
	width:auto;
	height:150px;
	border-radius: 100%;
}

.messageContacts{
	margin-top:5rem;
	width:15rem;
	height:25rem;
	border:1px solid grey;
	display: inline-block;
}

.messageWindow{
	margin-top:5rem;
	width:30rem;
	height:19rem;
	border:1px solid grey;
	display: inline-block;
}