
body{
	background-color:blue;
}

img{
	width:auto;
	height:150px;
	border-radius: 100%;
}

.messageContacts{
	margin-top:5rem;
	width:15rem;
	height:25rem;
	border:1px solid grey;
	display: inline-block;
}

.messageWindow{
	margin-top:5rem;
	width:30rem;
	height:19rem;
	border:1px solid grey;
	display: inline-block;
}

.jumbotron{
	margin-top:1rem;
	height:40rem;
}

#jum{
	background: url(https://images.unsplash.com/photo-1507120410856-1f35574c3b45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
}

#content{
	margin-top:2rem;
}

#to-do1:hover{
	background-color: orange;
	transition: .6s;
	cursor: pointer;
}

.icon{
	font-size:2rem;
}